<div class="well">
    <div class="row">
        <div class="col-md-8">
            <p>
                {% block joinus %}
                    {{ joinUs.description }}
                {% endblock %}
            </p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-default btn-block" href="{{ joinUs.url }}" style="color: white; background: #c52d2f">
                {{ joinUs.text }}
            </a>
        </div>
    </div>
</div>